<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knight.f_interesting">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mvp.terms.TermsActivity"></activity>
        <activity android:name=".mvp.person_history_order.OrderHistoryActivity" />
        <activity android:name=".mvp.completed.CompletedActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".mvp.auth.AuthActivity" />
        <activity android:name=".mvp.payment_method.PaymentMethodActivity" />
        <activity android:name=".mvp.address.AddressActivity" />
        <activity android:name=".mvp.cart.CartActivity" />
        <activity android:name=".mvp.detail.DetailActivity" />
        <activity android:name=".mvp.MainActivity" />
        <activity android:name=".mvp.person_information.InformationActivity" />
        <activity
            android:name=".mvp.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>